/* CHANGE PASSWORD */


.password-container{
    background-color: white;
    margin-top: 20px;
    margin-left: 25%;
    border: 5px blue solid;
    width: 55%;
}

.header-title {
    background-color: blue;
    padding: 10px;
    text-align: center;
    padding-left: 0px;
    font-size: bold;
    width: 100%;
    font-family: sans-serif;
    color: white;
}
.form-group input,
input[type=password]
 {
    width: 90%;
    margin: 10px 10px;
    padding: 10px;
    box-shadow: grey;
}

label{
    margin: 10px;
    padding: 15px 10px;
}

div .admin_panel a{
    float: right;
    color: black;
    font-weight: bold;
    padding-right: 60px;

}

div .admin_panel a:hover{
    color: blue;
    cursor:pointer;
    transition: 1s;
}


#bt {
    background-color: lightblue;
    margin: 10px;
    padding: 15px;
    color: black;
    border-radius: 50%;
    border-style: none;
    font-size: 15px;
}
#bt:hover {
    color: white;
    background-color: blue;
    cursor: pointer;
}

/* RESET PASSWORD STYLE */

div.container-form {
    background-color: white;
    margin-top: 110px;
    margin-left: 25%;
    border: 5px blue solid;
    width: 50%;
}

.form-header {
    background-color: blue;
    padding: 10px;
    text-align: center;
    padding-left: 0px;
    font-size: bold;
    font-family: sans-serif;
    color: white;
}

.form-name input,
input[type=password],
select,
button {
    width: 90%;
    margin: 10px 10px;
    padding: 10px;
    box-shadow: grey;
}

label{
    margin-left: 5px;
}
.login:hover{
    color: pink;

}

.login a{
    float: right;
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
    color: blue;
}

.bt {
    background-color: lightblue;
    padding: 15px;
    color: black;
    border-radius: 50%;
    border-style: none;
    font-size: 20px;
}

.bt:hover {
    color: white;
    background-color: blue;
    cursor: pointer;
}


/* ADMIN PROFILE */

     
.admin-container{
    background-color: white;
    margin-top: 110px;
    margin-left: 25%;
    border: 5px blue solid;
    width: 50%;
}
.admin-header{
    background-color: blue;
    padding: 10px;
    margin-top: 0px;
    text-align: center;
    padding-left: 0px;
    font-size: bold;
    font-family: sans-serif;
    color: white; 
}

.admin-content input,
input[type=text], input[type=email]
 {
    width: 50%;
    margin: 10px 25px;
    padding: 15px;
    box-shadow: grey;

}
label{
    margin-left: 20px;
}

small{
    padding-left: 20px;
}